{# PLACEHOLDER HTML #}
{#
<div class="module-quote py-5">
  <div class="container">
    <div class="text-center p-5 border">
      <h2>Quote module</h2>
    </div>
  </div>
</div> #}
{# PLACEHOLDER HTML END #}

<div class="module-quote">
  <div class="container">
    <div class="module-qoute-innr">
      {% if module.content.remove_shape %}
      {% else %}
      <img src="{{ get_asset_url('/sprigs-hs-theme/images/shape1.png') }}" alt="shape" class="shape-desktop">
      <img src="{{ get_asset_url('/sprigs-hs-theme/images/shape-mobile.png') }}" alt="shape" class="shape-mobile">
      {% endif %}
      {% if  module.content.content %}
      <div class="module-qoute-con">
        {{ module.content.content }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
